<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/css/style.css" />
        <title>productos</title>
    </head>
    <body>
        <header>
            <picture id="logo_navegacion">
                <img src="../public/img/logo1.png.jpeg" alt="logo empresa" />
            </picture>
            <h1>Minimercado Galicia</h1>
            <nav class="barra_navegacion">
                <ul class="menu">
                    <li>
                        <a href="../views/index.html">inicio</a>
                    </li>
                    <li>
                        <a href="#">Productos</a>
                        <ul class="submenu">
                            <li>
                                <a href="../views/catalogo 1.html"
                                    >Lacteos y huevos</a
                                >
                            </li>
                            <li>
                                <a href="../views/catalogo 2.html">Carnes</a>
                            </li>
                            <li>
                                <a href="../views/catalogo 3.html"
                                    >Frutras y verduras</a
                                >
                            </li>
                            <li>
                                <a href="../views/catalogo 4.html">Bebidas</a>
                            </li>
                            <li>
                                <a href="../views/catalogo 5.html"
                                    >Productos de aseo</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="../views/misionyvision.html">nosotros</a>
                    </li>

                    <li id="muneco">
                        <a href="../views/index.html">
                            <img
                                id="usuarioNavegacion"
                                src="../public/img/usuario.svg"
                                alt="logo de usuario"
                            />
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="../views/iniciar.html"
                                    >Iniciar Sesión</a
                                >
                            </li>
                            <li>
                                <a href="../views/formularioRegistro.html"
                                    >Registrarme</a
                                >
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <section id="productos">
            <article class="cartProductos">
                <img
                    src="../public/img/Carnes y proteinas Carne molida.jfif"
                    alt="productos"
                />
                <p>Lorem ipsum dolor sit amet</p>
                <span>$ 10.000</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cupiditate ipsam iure deleniti neque, inventore beate!
                </p>
                <button>comprar</button>
            </article>
            <article class="cartProductos">
                <img
                    src="../public/img/Carnes y proteinas Pescado en lata.jpg"
                    alt="productos"
                />
                <p>Lorem ipsum dolor sit amet.</p>
                <span>$ 10.000</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Copiditate ipsam iure deleniti neque, inventore beatae!
                </p>
                <button>comprar</button>
            </article>
            <article class="cartProductos">
                <img
                    src="../public/img/Carnes y proteinas Pollo.jpg"
                    alt="productos"
                />
                <p>Lorem ipsum dolor sit amet</p>
                <samp>$10.000</samp>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cupiditate ipsam iure deleniti neque, inventore beatae!
                </p>
                <button>comprar</button>
            </article>
            <article class="cartProductos">
                <img
                    src="../public/img/Carnes y proteinas Salchichas.jpg"
                    alt="productos"
                />
                <p>Lorem ipsum dolor sit amet.</p>
                <span>$10.000</span>
                <p>
                    lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cupiditate ipsam iure deleniti neque, inventore beatae!
                </p>
                <button>comprar</button>
            </article>
        </section>
    </body>
</html>
