<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="../public/img/logo1.png.jpeg"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../public/css/style.css" />
        <title>Galicia</title>
    </head>
    <body>
        <header>
            <picture id="logo_navegacion">
                <img src="../public/img/logo1.png.jpeg" alt="logo empresa" />
            </picture>
            <h1>Minimercado Galicia</h1>
            <nav class="barra_navegacion">
                <ul class="menu">
                    <li>
                        <a href="index.html">inicio</a>
                    </li>
                    <li>
                        <a href="#">Productos</a>
                        <ul class="submenu">
                            <li>
                                <a href="../views/catalogo 1.html"
                                    >Lacteos y huevos</a
                                >
                            </li>
                            <li>
                                <a href="../views/catalogo 2.html">Carnes</a>
                            </li>
                            <li>
                                <a href="../views/catalogo 3.html"
                                    >Frutras y verduras</a
                                >
                            </li>
                            <li>
                                <a href="../views/catalogo 4.html">Bebidas</a>
                            </li>
                            <li>
                                <a href="../views/catalogo 5.html">Productos de aseo</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="../views/misionyvision.html">nosotros</a>
                    </li>
                    <li>
                        <a href="#">historia</a>
                    </li>

                    <li id="muneco">
                        <a href="#">
                            <img
                                id="usuarioNavegacion"
                                src="../public/img/usuario.svg"
                                alt="logo de usuario"
                            />
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="../views/iniciar.html"
                                    >Iniciar Sesión</a
                                >
                            </li>
                            <li>
                                <a href="../views/formularioRegistro.html"
                                    >Registrarme</a
                                >
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <section id="slogPrincipal">
            <div id="blockInfo">
                <h2>Un minimercado al alcance de tus manos</h2>
            </div>
            <section class="slider">
                <div class="slider-container">
                    <div class="slider-item">
                        <img src="../public/img/mmg 1.jpeg" alt="Imagen 1" />
                    </div>
                    <div class="slider-item">
                        <img src="../public/img/mmg 2.jpeg" alt="Imagen 2" />
                    </div>
                    <div class="slider-item">
                        <img src="../public/img/mmg 3.jpeg" alt="Imagen 3" />
                    </div>
                    <div class="slider-item">
                        <img src="../public/img/mmg 4.jpeg" alt="Imagen 4" />
                    </div>
                    <div class="slider-item">
                        <img src="../public/img/mmg 5.jpeg" alt="Imagen 5" />
                    </div>
                </div>
            </section>
        </section>

        <footer>
            <figure>
                <img
                    class="iconoEmpresaFooter"
                    src="../public/img/logo1.png.jpeg"
                    alt="icono empresarial"
                />
            </figure>

            <div class="bloquesFooter">
                <p>minimercado galicia</p>
                <p>minimercadogaliciagmail.com</p>
                <p>+573193229720</p>
            </div>

            <div class="bloquesFooter">
                <p>8am a 10pm</p>
                <p>contamos con parqueadero</p>
                <p>todos los dias el local se encuentra abierto</p>
            </div>

            <div class="bloquesRedes">
                <figure class="redes">
                    <a href="#"
                        ><img
                            src="../public/img/bxl-facebook.svg"
                            alt="logos redes"
                    /></a>
                </figure>
                <figure class="redes">
                    <a href="#"
                        ><img
                            src="../public/img/bxl-instagram.svg"
                            alt="logos redes"
                    /></a>
                </figure>
                <figure class="redes">
                    <a href="#"
                        ><img
                            src="../public/img/bxl-whatsapp.svg"
                            alt="logos redes"
                    /></a>
                </figure>
            </div>
        </footer>
    </body>
</html>
<script src="../public/css/style.js"></script>
