<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/css/style.css" />
        <title>Document</title>
    </head>
    <body>
        <header>
            <picture id="logo_navegacion">
                <img src="../public/img/logo1.png.jpeg" alt="logo empresa" />
            </picture>
            <h1>Minimercado Galicia</h1>
            <nav class="barra_navegacion">
                <ul class="menu">
                    <li>
                        <a href="index.html">inicio</a>
                    </li>
                    <li>
                        <a href="#">Productos</a>
                        <ul class="submenu">
                            <li>
                                <a href="../views/catalogo 1.html"
                                    >Lacteos y huevos</a
                                >
                            </li>
                            <li>
                                <a href="../views/catalogo 2.html">Carnes</a>
                            </li>
                            <li>
                                <a href="../views/catalogo 3.html"
                                    >Frutras y verduras</a
                                >
                            </li>
                            <li>
                                <a href="../views/catalogo 4.html">Bebidas</a>
                            </li>
                            <li>
                                <a href="../views/catalogo 5.html">Productos de aseo</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="../views/misionyvision.html">nosotros</a>
                    </li>
                    <li>
                        <a href="#">historia</a>
                    </li>

                    <li id="muneco">
                        <a href="#">
                            <img
                                id="usuarioNavegacion"
                                src="../public/img/usuario.svg"
                                alt="logo de usuario"
                            />
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="../views/iniciar.html"
                                    >Iniciar Sesión</a
                                >
                            </li>
                            <li>
                                <a href="../views/formularioRegistro.html"
                                    >Registrarme</a
                                >
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <section id="ContenAbout">
            <article class="blockAbout" id="colorBackground">
                <img class="imgAbout" src="../public/img/vision.jpeg" />
                <div class="infoAbout">
                    <h2>Mision</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consecteturadipisicing elit.
                        Voluptatemvelit magnam
                    </p>
                </div>
            </article>
            <article class="blockAbout">
                <div class="infoAbout">
                    <h2>Vision</h2>
                    <p>
                        Lorem insum dolor sit amet consectetur adipisicing elit.
                        Itaque dolores maiores
                    </p>
                </div>
                <img class="imgAbout" src="../public/img/mision.jpg" />
            </article>
        </section>
        <section id="contentHistory">
            <img id="imgHistory" src="../public/img/historia.jpeg" alt="" />
            <article id="infoHistory">
                <h2>Nuestra historia</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing</p>
            </article>
        </section>
    </body>
</html>
